<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="/css/footer.css" rel="stylesheet" />

<footer class="footer py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Habitify</h5>
                <p>Empowering you to build better habits every day.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Follow Us</h6>
                <a href="https://www.facebook.com" target="_blank" class="social-link mx-2" title="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank" class="social-link mx-2" title="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="social-link mx-2" title="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank" class="social-link mx-2" title="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <ul class="list-unstyled">
                    <li><a href="/about" class="footer-link">About Us</a></li>
                </ul>
            </div>
        </div>
        <div class="mt-3">
            <p class="mb-0">&copy; 2024 Habitify. All rights reserved.</p>
        </div>
    </div>
</footer>