/* General Footer Styles */
.footer {
    color: #333;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 100px;
    font-size: 0.8rem;
    text-align: center;
    /* Centers the text */
}

/* Social Media Links */
.social-link {
    color: #555;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-link:hover {
    color: #17a2b8;
}

/* Footer Links */
.footer-link {
    text-decoration: none;
    color: #555;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #17a2b8;
    text-decoration: underline;
}

/* Footer Headings */
.footer h5,
.footer h6 {
    color: #222;
    margin-bottom: 15px;
}

.footer p {
    margin-top: 0.5rem !important;
    font-size: 0.75rem;
}

.footer p,
.footer h5,
.footer h6 {
    margin: 0;
}

.footer .container {
    max-width: 100%;
}

.footer .social-link {
    font-size: 1rem;
}

.footer ul {
    margin-bottom: 0;
}